[submodule "pigz"]
	path = pigz
	url = https://github.com/madler/pigz.git
[submodule "gzip"]
	path = gzip
	url = https://github.com/JackDanger/gzip.git
[submodule "isa-l"]
	path = isa-l
	url = https://github.com/JackDanger/isa-l.git
	branch = apple-arm64-fix
[submodule "zopfli"]
	path = zopfli
	url = https://github.com/google/zopfli.git
[submodule "rapidgzip"]
	path = rapidgzip
	url = https://github.com/mxmlnkn/rapidgzip.git
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "rust"]
	path = rust
	url = https://github.com/rust-lang/rust.git
