#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/rigz debian/rigz/usr/bin/rigz
	# Create symlinks for gzip compatibility
	ln -sf rigz debian/rigz/usr/bin/unrigz

override_dh_auto_test:
	cargo test --release

override_dh_auto_clean:
	cargo clean || true
